__pycache__/
*.py[cod]
*$py.class

venv/
env/
*.env
*.venv

*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

instance/
*.mo
*.swp

**/migrations/*.py
!**/migrations/__init__.py

.vscode/
.idea/
*.sublime-workspace

*.egg-info/
dist/
build/
pip-log.txt
pip-delete-this-directory.txt

# Secrets
.env
.env_secrets
secrets.json

# Docker
*.pid
*.tar
__MACOSX
